<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8' />
        <title>Stocks Portifolio</title>
        <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
        <link rel='stylesheet' href='/resource/css/bootstrap.min.css'>
        <link rel='stylesheet' href='/resource/css/all.min.css'>
        <link rel='stylesheet' href='/resource/css/main.css'>
    </head>
    <body>
        <header class="main-header d-flex align-items-center">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-4">
                        <h1 class="logo">Stocks Rocks!</h1>
                    </div>
                    <div class="main-header-nav col-8">
                        <a href="#" class="login p-3">
                            <i class="fas fa-sign-in-alt mr-2"></i>Login
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <main class='main-container'>
            <div class='container'>
                <div class='error-container'>
                    <h1 class='text-danger status-code'>404</h1>
                    <p>Página não encontrada!</p>
                    <a href='/stocks' class='text-primary'>< Voltar para principal</a>
                </div>
            </div>
        </main>
        <footer class="main-footer bg-dark mt-4">
            <div class="container">
                <p class="text-light text-center p-3">Developed by Andrey Masiero - &copy; 2020</p>
            </div>
        </footer>
    </body>
</html>