<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8' />
        <title>Stocks Portifolio</title>
    </head>
    <body>
        <h1>Compre sua Ação</h1>
        <hr />
        <form action='/stocks' method='POST'>
            <input type='hidden' id='id' name='id' />
            <div>
                <label for='code'>Código</label>
                <input type='text' id='code' name='code' 
                    placeholder='Digite o código da ação desejada.' />
            </div>
            <div>
                <label for='name'>Empresa</label>
                <input type='text' id='name' name='name' 
                    placeholder='Digite o nome da empresa para a ação desejada.' />
            </div>
            <div>
                <label for='amount'>Quantidade</label>
                <input type='number' id='amount' name='amount' 
                    placeholder='Digite a quantidade de ações desejada.' />
            </div>
            <div>
                <label for='price'>Valor Unitário</label>
                <input type='number' id='price' name='price' step='.01'
                    placeholder='Digite o valor unitário da ação desejada.' />
            </div>
            <button type='submit'>Comprar</button>
        </form>
    </body>
</html>